* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(245, 245, 245);
    margin: 10px;
    font-size: 17px;
}
h1 {
    
}
h2 {

}

img {
    max-width: 100%;
}

figure {
    margin: 0;
}